@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@200;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation-name: slideUp;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  opacity: 0;
  transform: translateY(20px);
}